.addTagsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  width: 100%;
}
.contactContainer {
  width: 100%;
  max-width: 500px;
  margin-bottom: 2rem;
}
