.cardWrp {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;

  color: black;
}
.infoWrp {
  element.style {
    overflow: hidden;
  }
}
.infoItem:not(:last-child) {
  margin-bottom: 0.5rem;
}
.tagsWrp {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.tagsItem {
  background-color: rgba(166, 166, 166, 1);

  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
}
.deleteBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;

  background-color: transparent;

  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.deleteBtn:is(:hover, :focus) {
  background-color: black;
  color: white;
}
