@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.3px;
  margin: 0;

  font-family: "Roboto";
  background-color: rgba(255, 255, 255, 1);
  
}
#root {
  width: 100%;
  height: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.pageWrapper {
  width: 100%;
}
.section {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}
.MuiCard-root.MuiPaper-root {
  box-shadow: none;
  width: 100%;
}

